{% unless collection_item_width %} {% assign collection_item_width = 'small--grid__item medium--one-tenth large--one-fifth' %} {% endunless %} {% assign collection_item_img_size = '600x540' %}
<div class="grid__item {{collection_item_width}} text-center">
  <div class="pickgradient-products">
    {% capture collection_title %}{{ collections[featured].title | escape }}{% endcapture %}
    <div class="collection-img">
      <a href="{{ collections[featured].url }}" title="{{ 'collections.general.link_title' | t: title: collection_title }}" class="grid-link">
        {% if collections[featured].image %}
        {{ collections[featured].image.src | img_url: collection_item_img_size | img_tag: collection_title }}
        {% else %}
        {{ collections[featured].products.first.featured_image | img_url: collection_item_img_size | img_tag: collection_title }}
        {% endif %}
      </a>
      <div class="tt-event-overlay">
        <p class="collection-count">({{ collection.all_products_count }} {{ 'cart.general.items' | t }})</p>
      </div>
    </div>
    <div class="collection-description">
      <a href="{{ collections[featured].url }}" title="{{ 'collections.general.link_title' | t: title: collection_title }}" class="grid-link collection-link">
        <span class="grid-link__title">{{ collections[featured].title }}</span>
      </a>
      <div class="collection-detail">
        <span>{{ collection.description | strip_html | truncatewords: 10 }}</span>
      </div>
      <p class="collection_btn"><a class="btn collection" href="{{ collections[featured].url }}">Shop Now</a></p>
    </div>
  </div>
</div>