<div id="ttsubbanner3">
  <div class="container">
    <div class="row">
      <div class="ttsubbanner">
        <div class="ttbanner1 ttsubbanner col-sm-3 col-xs-3">
          <div class="ttbanner-img">
            <div class="banner_img">
              <a href="{{ section.settings.banner_link1 }}">
                {% if section.settings.banner_image1 != blank %}
                <img loading="lazy" height="auto" width="385" src="{{  section.settings.banner_image1 | img_url: "385x" }}" alt="sub-banner image" />
                {% endif %}
              </a>
              <div class="ttbanner-content {{ section.settings.text_position1 }}">
                <div class="ttbaaner-title" style="color: {{ section.settings.title1_color }}">{{ section.settings.banner_title1 }}</div>
                <div class="ttbaaner-subtitle" style="color: {{ section.settings.subtitle1_color }}">{{ section.settings.banner_subtitle1 }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="ttbanner2 ttsubbanner col-sm-6 col-xs-6">
          <div class="ttbanner-img"{% if section.settings.banner2_bg != blank %} style="background: {{ section.settings.banner2_bg }}"{% endif %}>
            <div class="banner_img">
              <a href="{{ section.settings.banner_link2 }}">
                {% if section.settings.banner_image2 != blank %}
                <img loading="lazy" height="auto" width="790" src="{{  section.settings.banner_image2 | img_url: "790x" }}" alt="sub-banner image" />
                {% endif %}
              </a>
              <div class="ttbanner-content {{ section.settings.text_position2 }}">
                <div class="ttbaaner-title" style="color: {{ section.settings.title2_color }}">{{ section.settings.banner_title2 }}</div>
                <div class="ttbaaner-subtitle" style="color: {{ section.settings.subtitle2_color }}">{{ section.settings.banner_subtitle2 }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="ttbanner3 ttsubbanner col-sm-3 col-xs-3">
          <div class="ttbanner-img"{% if section.settings.banner3_bg != blank %} style="background: {{ section.settings.banner3_bg }}"{% endif %}>
            <div class="banner_img">
              <a href="{{ section.settings.banner_link3 }}">
                {% if section.settings.banner_image3 != blank %}
                <img loading="lazy" height="auto" width="385" src="{{  section.settings.banner_image3 | img_url: "385x" }}" alt="sub-banner image" />
                {% endif %}
              </a>
              <div class="ttbanner-content {{ section.settings.text_position3 }}">
                <div class="ttbaaner-title" style="color: {{ section.settings.title3_color }}">{{ section.settings.banner_title3 }}</div>
                <div class="ttbaaner-subtitle" style="color: {{ section.settings.subtitle3_color }}">{{ section.settings.banner_subtitle3 }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>{% if section.settings.banner1_bg != blank %}#ttsubbanner3 .ttbanner1.ttsubbanner .ttbanner-img{background: {{ section.settings.banner1_bg }};}{% endif %}</style>
{% schema %}
{
"name": "sub banner-3",
"class": "index-section ttcmssubbanner3",
"settings": [
{
"type": "image_picker",
"id": "banner_image1",
"label": "Image"
},
{
"type": "color",
"id": "banner1_bg",
"label": "banner 1 background color"
},
{
"type": "text",
"id": "banner_title1",
"label": "Banner Title 1",
"default": "lights decoration"
},
{
"type": "color",
"id": "title1_color",
"label": "Title1 color",
"default": "#000"
},
{
"type": "text",
"id": "banner_subtitle1",
"label": "Banner Subtitle 1",
"default": "home & decor"
},
{
"type": "color",
"id": "subtitle1_color",
"label": "Subtitle1 color",
"default": "#000"
},
{
"type": "url",
"id": "banner_link1",
"label": "Banner 1 link"
},
{
"type": "select",
"id": "text_position1",
"label": "Text Position",
"options": [
{
"value": "left",
"label": "left"
},
{
"value": "right",
"label": "Right"
},
{
"value": "center",
"label": "Center"
}
]
},
{
"type": "image_picker",
"id": "banner_image2",
"label": "Image"
},
{
"type": "color",
"id": "banner2_bg",
"label": "banner 2 background color"
},
{
"type": "text",
"id": "banner_title2",
"label": "Banner Title 2",
"default": "worksite tools"
},	
{
"type": "color",
"id": "title2_color",
"label": "Title2 color",
"default": "#fff"
},
{
"type": "text",
"id": "banner_subtitle2",
"label": "Banner Subtitle 2",
"default": "get up to 70% off"
},
{
"type": "color",
"id": "subtitle2_color",
"label": "Subtitle2 color",
"default": "#fff"
},
{
"type": "url",
"id": "banner_link2",
"label": "Banner link 2"
},
{
"type": "select",
"id": "text_position2",
"label": "Text Position",
"options": [
{
"value": "left",
"label": "left"
},
{
"value": "right",
"label": "Right"
},
{
"value": "center",
"label": "Center"
}
]
},
{
"type": "image_picker",
"id": "banner_image3",
"label": "Image"
},
{
"type": "color",
"id": "banner3_bg",
"label": "banner 3 background color"
},
{
"type": "text",
"id": "banner_title3",
"label": "Banner Title 3",
"default": "new tools box"
},	
{
"type": "color",
"id": "title3_color",
"label": "Title3 color",
"default": "#fff"
},
{
"type": "text",
"id": "banner_subtitle3",
"label": "Banner Subtitle 3",
"default": "get more offers"
},
{
"type": "color",
"id": "subtitle3_color",
"label": "Subtitle3 color",
"default": "#fff"
},
{
"type": "url",
"id": "banner_link3",
"label": "Banner link 3"
},
{
"type": "select",
"id": "text_position3",
"label": "Text Position",
"options": [
{
"value": "left",
"label": "left"
},
{
"value": "right",
"label": "Right"
},
{
"value": "center",
"label": "Center"
}
]
}
],
"presets": [
{
"name": "sub banner-3",
"category": "Image"
}
]
}
{% endschema %}