<div data-section-id="{{ section.id }}"  data-section-type="tt-collection-slider-wrap" class="tt-collection-slider-wrap"  {% if section.settings.bg_image != blank %} style="background-image: url({{section.settings.bg_image | img_url : 'master'}})" {% endif %}>
  <div class="container">
    <div class="tt-collection-slider-wrap-inner">
      <div class="collection_slider_wrap" style="background:{{section.settings.bg_color}}">
        {% if section.settings.title != blank  %}
        <div class="section-header section-header--small">
          {% endif %}            
          {% if section.settings.title != blank %}
          <h2 class="tt-title" style="color:{{section.settings.title_color }}">{{ section.settings.title }}</h2>  
          {% endif %}
          {% if section.settings.sub_title != blank %}
          <div class="short-desc"> <p style="color:{{section.settings.sub_title_color }}">{{ section.settings.sub_title }}</p>  </div>
          {% endif %}
          {% if section.settings.title != blank  %}
        </div>
        {% endif %}
        <div class="collection_cms_slider_wrap">
          {% if section.blocks.size > 0 %}  
          <div class="row">
            <div class="collection_cms_slider owl-carousel">
              {% for block in section.blocks %}  
              {%- assign collection = collections[block.settings.collection_cat_id] -%}   
              <div class="collection_cat_item col-xs-12">          
                <a href="{{ collection.url }}">
                  <div class="collection_cms_overlay"></div>
                  <div class="collection_img col-sm-5 col-xs-5"><img loading="lazy" src="{{ block.settings.image_1 | img_url: "master"  }}" alt="category featured" /></div>
                  <div class="tt-collection-content col-sm-7 col-xs-7">
                    <div class="collection_title">{{ collection.title }}</div>
                    <div class="cat-description">
                      <div class="description">{{ block.settings.collection_desc | truncatewords : 9 }}</div>
                      <p class="desc">{{ collection.all_products_count }} <span>{{ 'cart.general.items' | t }}</span></p> 
                    </div>
                  </div>
                </a>
              </div>
              {% endfor %}
            </div>
          </div>
          {% endif %}
          <div class="customNavigation"><div class="navigation_wrap"><a class="mdi mdi-chevron-left prev">{{ 'general.slider.prev' | t }}</a><a class="mdi mdi-chevron-right next">{{ 'general.slider.next' | t }}</a></div></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
"name": "Collection CMS Slider",
"class": "category-featured col-sm-8",
"max_blocks":10,
"settings": [
{
"type": "color",
"id": "bg_color",
"label": "Background Color",
"default":"#fff"
},
{
"type": "image_picker",
"id": "bg_image",
"label": "Background Image"
},
{
"type": "text",
"id": "title",
"label": "Heading"
},
{
"type": "color",
"id": "title_color",
"label": "Title Color",
"default":"#000"
},
{
"type": "text",
"id": "sub_title",
"label": "Sub Heading"
},
{
"type": "color",
"id": "sub_title_color",
"label": "Title Color",
"default":"#000"
}
],
"blocks": [
{
"type": "text_collection",
"name": "collection cms",
"settings": [
{
"type": "image_picker",
"id": "image_1",
"label": "Image",
"info": "Size: 140x140"
},
{
"type": "collection",
"id": "collection_cat_id",
"label": "Select collection"
},
{
"type": "textarea",
"id": "collection_desc",
"label": "Description"
}          
]
}
],
"presets": [
{
"name": "Collection CMS Slider",
"category": "TemplateTrip",
"blocks": [
{
"type": "text_collection"
}     

]
}
]
}
{% endschema %}